- name: my play to project 2
  hosts: webserver
  become: true
  tasks:
    - name: uupdate repos
      command: apt update
    - name: install docker
      package: name=docker.io state=present
    - name: docker image
      command: docker pull jobinaj/health:3
    - name: docker con
      command: docker run -d -p 9002:8082 jobinaj/health:3
