- name: my play to project 2
  hosts: webserver
  become: true
  tasks:
    - name: uupdate repos
      command: apt update
    - name: install docker
      package: name=docker.io state=present
    - name: start docker
      service: name=docker state=started
    - name: docker image
      command: docker pull jobinaj/health:22
    - name: docker con
      command: docker run -d -p 7878:8082 jobinaj/health:22
