kind: Deployment
apiVersion: apps/v1
metadata:
  name: my
spec:
  replicas: 3
  selector:
    matchLabels:
      web: apps
  template:
    metadata:
      name: aj
      labels:
        web: apps
    spec:
      containers:
        - name: c1
          image: jobinaj/health:21
